.about-container {
    display: grid;
}

.about {
    padding-bottom: 5rem;
    height: 100vh;
}

#backlight,
.about {
    grid-area: 1 / 1;
}

#backlight {
    background: black;
    z-index: 0;
}

.about {
    z-index: 1;
    padding-top: 70px;
}


.abt-main-cont {
    display: grid;
    grid-template-columns: 42rem auto;
    align-items: center;
    justify-content: center;
}

.outer-eye {
    backdrop-filter: blur(20px);
    border: solid 4px #7534AA;
    border-radius: 12% 88% 41% 59% / 17% 72% 28% 83%;
    height: 25rem;
    width: 35rem;
    flex: none;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: end;
    /* padding: 0 6rem 2rem; */
    position: relative;
}

.wrp {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    animation: eyewrap 1s ease-in;
}

@keyframes eyewrap {
    0% {
        top: 110%;
        left: 80%;
        opacity: 0;
    }

    60% {
        top: 60%;
    }
}


.bordered-me {
    border-radius: 50%;
    border: solid 4px #9e54db;
    overflow: hidden;
    height: 14rem;
    width: 14rem;
    position: relative;
    background-color: black;
}

.bordered-me video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.3);
}


.prpart-cont {
    padding: 2rem 4rem 2rem 3rem;
}

.wrp img {
    position: absolute;
    bottom: 0;
}

.work {
    display: flex;
    align-items: center;
    gap: .4rem;
    margin-top: 8rem;
    margin-bottom: .2rem;
}

.work div {
    content: "";
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    background-color: #9e54db;
    border-radius: 50%;
}

.work h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

.work h3 span {
    color: #9e54db;
    font-weight: 700;

}

.rate p:nth-child(1) {
    font-size: 1.8rem;
    font-weight: 700;

}

.rate p:nth-child(1) span {
    font-size: 1.2rem;
}

.rate p:nth-child(2) {
    color: #9e54db;
}

.abt-main-cont .content h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

.abt-main-cont .content h1 span {
    color: #9e54db;
}

.abt-main-cont .content p {
    color: rgb(186, 186, 186);
}

.stacks {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
    align-items: end;

}

.stacks>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
    opacity: 0;
    transform: translateY(20px);
    animation: stackIn 0.6s ease forwards;
}

.stacks p {
    font-size: .7rem;
}

.stacks img {
    height: 24px;
}


.stacks>div:nth-child(1) {
    animation-delay: 0s;
}

.stacks>div:nth-child(2) {
    animation-delay: 0.15s;
}

.stacks>div:nth-child(3) {
    animation-delay: 0.3s;
}

.stacks>div:nth-child(4) {
    animation-delay: 0.45s;
}

.stacks>div:nth-child(5) {
    animation-delay: 0.6s;
}

.stacks>div:nth-child(6) {
    animation-delay: 0.75s;
}

.stacks>div:nth-child(7) {
    animation-delay: 0.9s;
}

.stacks>div:nth-child(8) {
    animation-delay: 1.05s;
}

@keyframes stackIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.social3 {
    display: flex;
    gap: 1.5rem;
    margin: 2rem 0 1rem;
}

.social3 a {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.social3 a i {
    color: black;
    font-size: 1.5rem;
}

.actions-main {
    display: flex;
    gap: 1.5rem;
}

.actions-main>*:nth-child(1) {
    background-color: transparent;
    color: #9e54db;
    border: solid 2px #9e54db;
    padding: .5rem 1.5rem;
    border-radius: 7rem;
}

.actions-main>*:nth-child(1):hover {
    background-color: #9e54db;
    color: white;
    cursor: pointer;
}

.actions-main>*:nth-child(2) {
    background-color: #9e54db;
    color: white;
    border: solid 2px #9e54db;
    padding: .5rem 1.5rem;
    border-radius: 7rem;
}

.actions-main>*:nth-child(2):hover {
    background-color: transparent;
    color: #9e54db;
    cursor: pointer;
}

.psx {
    position: fixed;
    top: 0;
    width: 100%;
}