.about-container {
    display: grid;
}

.about {
    padding-bottom: 5rem;
    height: 100vh;
}

.backlight,
.about {
    grid-area: 1 / 1;
}

.backlight {
    background: black;
    z-index: 0;
}

.about {
    z-index: 1;
    padding-top: 70px;
}


.abt-main-cont {
    display: grid;
    grid-template-columns: 42rem auto;
    align-items: center;
    justify-content: center;
}

.outer-eye {
    backdrop-filter: blur(20px);
    border: solid 4px #7534AA;
    border-radius: 12% 88% 41% 59% / 17% 72% 28% 83%;
    height: 25rem;
    width: 35rem;
    flex: none;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: end;
    /* padding: 0 6rem 2rem; */
    position: relative;
}

.wrp {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
}
.wrpo{
    animation: eyewrap 1s ease-in;
}
@keyframes eyewrap {
    0% {
        top: 110%;
        left: 80%;
        opacity: 0;
    }

    60% {
        top: 60%;
    }
}


.bordered-me {
    border-radius: 50%;
    border: solid 4px #9e54db;
    overflow: hidden;
    height: 14rem;
    width: 14rem;
    position: relative;
    background-color: black;
}

.bordered-me video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.3);
}


.prpart-cont {
    padding: 2rem 4rem 2rem 3rem;
}

.wrp img {
    position: absolute;
    bottom: 0;
}

.work {
    display: flex;
    align-items: center;
    gap: .4rem;
    margin-top: 8rem;
    margin-bottom: .2rem;
}

.work div {
    content: "";
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    background-color: #9e54db;
    border-radius: 50%;
}

.work h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

.work h3 span {
    color: #9e54db;
    font-weight: 700;

}

.rate p:nth-child(1) {
    font-size: 1.8rem;
    font-weight: 700;

}

.rate p:nth-child(1) span {
    font-size: 1.2rem;
}

.rate p:nth-child(2) {
    color: #9e54db;
}

.abt-main-cont .content h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

.abt-main-cont .content h1 span {
    color: #9e54db;
}

.abt-main-cont .content p {
    color: rgb(186, 186, 186);
}

.stacks {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
    align-items: end;

}

.stackson>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
    opacity: 0;
    transform: translateY(20px);
    animation: stackIn 0.6s ease forwards;
}

.stacks p {
    font-size: .7rem;
}

.stacks img {
    height: 24px;
}


.stacks>div:nth-child(1) {
    animation-delay: 0s;
}

.stacks>div:nth-child(2) {
    animation-delay: 0.15s;
}

.stacks>div:nth-child(3) {
    animation-delay: 0.3s;
}

.stacks>div:nth-child(4) {
    animation-delay: 0.45s;
}

.stacks>div:nth-child(5) {
    animation-delay: 0.6s;
}

.stacks>div:nth-child(6) {
    animation-delay: 0.75s;
}

.stacks>div:nth-child(7) {
    animation-delay: 0.9s;
}

.stacks>div:nth-child(8) {
    animation-delay: 1.05s;
}

@keyframes stackIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.social3 {
    display: flex;
    gap: 1.5rem;
    margin: 2rem 0 1rem;
}

.social3 a {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.social3 a i {
    color: black;
    font-size: 1.5rem;
}

.actions-main {
    display: flex;
    gap: 1.5rem;
}

.actions-main>*:nth-child(1) {
    background-color: transparent;
    color: #9e54db;
    border: solid 2px #9e54db;
    padding: .5rem 1.5rem;
    border-radius: 7rem;
}

.actions-main>*:nth-child(1):hover {
    background-color: #9e54db;
    color: white;
    cursor: pointer;
}

.actions-main>*:nth-child(2) {
    background-color: #9e54db;
    color: white;
    border: solid 2px #9e54db;
    padding: .5rem 1.5rem;
    border-radius: 7rem;
}

.actions-main>*:nth-child(2):hover {
    background-color: transparent;
    color: #9e54db;
    cursor: pointer;
}

.psx {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 40;
}

 
#loadingScreen {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
    background: rgb(0, 0, 0);
}
.letter-by-letter span {
  opacity: 0;
  display: inline-block;
  animation: appear 0.5s forwards;
}

.letter-by-letter span:nth-child(1) { animation-delay: 0s; }
.letter-by-letter span:nth-child(2) { animation-delay: 0.2s; }
.letter-by-letter span:nth-child(3) { animation-delay: 0.4s; }
.letter-by-letter span:nth-child(4) { animation-delay: 0.6s; }
.letter-by-letter span:nth-child(5) { animation-delay: 0.8s; }
.letter-by-letter span:nth-child(6) { animation-delay: 1s; }
.letter-by-letter span:nth-child(7) { animation-delay: 1.2s; }
.letter-by-letter span:nth-child(8) { animation-delay: 1.4s; }

@keyframes appear {
  to { opacity: 1; }
}
.prr{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.prr h1{
    color: #551a86;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    width: 25rem;
    bottom: -8rem;
    position: absolute;
    transform: translate(-50%,-50%);

}
.prr h1 span {
    height: 100%;
}
#loadingScreen .wrp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.8s ease-in-out;
    opacity: 1;
}
.proceed,
.loadingR{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: 1rem;
    font-size: .7rem;
}

.proceed{
    bottom: 4rem;
}
.proceed button{
    background: #7534aa40;
    width: 9rem;
    text-align: center;
    padding: .4rem 0;
    border-radius: 2rem;
    font-size: .6rem;
    border: solid 1px #9e54db9b;
}
.proceed > *:hover{
    cursor: pointer;
    background: #45275e;
    transition: .3s ease-in-out;
}
.proceed > *:hover i{
    transform: translateX(1rem);
    transition: .3s;
}
